<!DOCTYPE html>
<html  xmlns:th="http://thymeleaf.org" >
<head>
    <title>Minha Primeira Página</title>
</head>
<body>


    <h1>Bem-vindo, <p th:text="${usuarioLogado}"></p></h1>
    <p>Esta é a minha primeira página com Spring Boot e Thymeleaf.</p>

    <h1>Lista de Clientes</h1>
    <table>
        <thead>
        <tr>

            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Página</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cliente : ${clientes}">

            <td th:text="${cliente.nome}"></td>
            <td th:text="${cliente.email}"></td>
            <td th:text="${cliente.telefone}"></td>
            <td>
                <form th:action="@{clientes/{id}(id =${cliente.id})}" method="get">

                    <input type="submit" value="Pagina">
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- TODO:Listar Clientes-->
    <h1>Cadastro de Cliente</h1>
    <form action="/clientes/novo" method="post" accept-charset="UTF-8">
        <label for="nome">nome:</label>
        <input type="text" id="nome" name="nome" required>
        <br><br>

        <label for="telefone">Telefone:</label>
        <input type="text" id="telefone" name="telefone" required>
        <br><br>

        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required>
        <br><br>

        <button type="submit">Salvar</button>
    </form>

    <!--TODO: mover o cadastro de veiculo para a pagina do cliente-->
    <form action="#" th:action="@{/agendamentos/novo}" method="post">
        <label for="cliente">Cliente:</label>
        <select id="cliente" name="cliente">
            <option value="" disabled selected>Selecione um cliente</option>
            <th:block th:each="cliente : ${clientes}">
                <option th:value="${cliente.id}" th:text="${cliente.nome}"></option>
            </th:block>
        </select>

        <label for="carro">Carro:</label>
        <select id="carro" name="carro" disabled>
            <option value="" disabled selected>Selecione um carro</option>
        </select>

        <!-- Outros campos para o formulário de agendamento -->

        <button type="submit">Agendar</button>
    </form>
    <h1>Formulário de Veículo</h1>
    <form action="/carros/novo" method="post">

        <select id="cliente" name="cliente">
            <option value="" disabled selected>Selecione um cliente</option>
            <th:block th:each="cliente : ${clientes}">
                <option th:value="${cliente.id}" th:text="${cliente.nome}"></option>
            </th:block>
        </select>


        <label for="placa">Placa:</label>
        <input type="text" id="placa" name="placa" required><br><br>

        <label for="modelo">Modelo:</label>
        <input type="text" id="modelo" name="modelo" required><br><br>

        <label for="cor">Cor:</label>
        <input type="text" id="cor" name="cor" required><br><br>

        <input type="submit" value="Enviar">
    </form>

    <form action="logout" method="post">
        <input type="submit" value="Sair">
    </form>
    <script>
        $(document).ready(function() {
            $('#cliente').change(function() {
                var clienteId = $(this).val();
                if (clienteId) {
                    $.ajax({
                        url: '/api/carros/' + clienteId,
                        method: 'GET',
                        success: function(data) {
                            var $carroSelect = $('#carro');
                            $carroSelect.empty().append('<option value="" disabled selected>Selecione um carro</option>');
                            $.each(data, function(index, carro) {
                                $carroSelect.append('<option value="' + carro.id + '">' + carro.modelo + '</option>');
                            });
                            $carroSelect.prop('disabled', false);
                        }
                    });
                } else {
                    $('#carro').empty().append('<option value="" disabled selected>Selecione um carro</option>').prop('disabled', true);
                }
            });
        });
    </script>
</body>
</html>
